
canvas.tetris {
    width: auto;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(28 25 23);
}

canvas.preview {
    background-color: transparent;
    width: auto;
    height: 100%;
}