@tailwind base;
@tailwind components;
@tailwind utilities;

.blinker {
    font-family: "Blinker", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.blinker-adjust-text {
    display: inline-block;
    transform: translateY(-0.1rem);
}

p + p {
    margin-top: 16px;
}

p a {
    text-decoration: underline;
}

blockquote {
    margin: 16px;
    font-style: italic;
    border-left: 2px solid orange;
    padding-left: 16px;
}

a.active {
    text-shadow: 0 0 2px black;
}

.bg1::before {
    content: "";
    background-image: url("/img/stock/bg_code.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100lvw;
    height: 100lvh;
}

.bg1 {
    padding-top: 3.5rem;
    min-height: 100lvh;
}

body {
    background-color: rgb(28 25 23);
    color: white;
}
