@tailwind base;
@tailwind components;
@tailwind utilities;


p + p {
    margin-top: 16px;
}

p a {
    text-decoration: underline;
}

blockquote {
    margin: 16px;
    font-style: italic;
    border-left: 2px solid orange;
    padding-left: 16px;
}
